<section>
  <div class="language-picker-area">
    <h3><div class="picker-label">{{ 'choose_language' | translate }}</div><br></h3>
    <select (change)="selectLanguage($event)" class="language-picker" style="width:12rem;height: 3rem;">
      <option value="en-US">{{ 'language.english' | translate }}</option>
      <option value="fr-FR">{{ 'language.french' | translate }}</option>
      <option value="de-DE">{{ 'language.german' | translate }}</option>
      <option value="hi-HI">{{ 'language.hindi' | translate }}</option>
    </select>
  </div>
  <div class="content">
    <h1>{{ 'title' | translate }}</h1><br>
    <div class="container"><h5>{{ 'welcome_text' | translate }}</h5><br></div>
  </div>
</section>
