/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 109, 233);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    border-radius: 30px;
}

.language-picker-area {
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

select {
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

option {
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

section {
    color: rgb(223, 223, 219);
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 183, 255) 100%);
    padding: 10px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}